<div class="full-image">
  <h1 class="image-title">{{model.filename}}</h1>
  <hr class="image-divider">
  <img class="image-show" src='{{model.url}}'>
  {{#link-to 'users.current'}}
Back
  {{/link-to}}
</div>
