<div class="signIn">

<form {{action 'authenticate' on='submit'}}>
  {{input placeholder="username" type="text" value=identification}}
  {{input placeholder="Password" type="password" value=password}}
  <button type="submit"> Sign In </button>
</form>
</div>
