@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 320px) {

}

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {

    background: url('images/MainPageBackground.jpeg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   @include span-columns(12);


}

header {

height: auto;
margin: 0px auto;
width: 100%;
overflow: auto;


}


.logo {
height: 17em;
@include span-columns(6);
@include shift(.5);
background: url('images/townsontourGreenville.png') no-repeat left;
background-size: contain;
float: left;
}

.wrap {

  @include span-columns(3);
  float: right;
  margin-top: 60px;
  padding-right: 100px;

}
.button {
  border: 4px solid rgba(5, 46, 68, 1);
  border-radius: 10%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  text-decoration: none;
  background: rgba(104, 176, 198, 1);
  color: darken(rgba(5, 46, 68, 1), 15);

}

* {
  margin:0;
  padding:0;
}

html, body {
    height: 100%;
}

#main {
background-color: white;
overflow:auto;
padding-bottom: 80px;
}


#wrap {
  min-height: 100%;
}

.footer {

  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  clear:both;

}

.footer button {
  margin-top: 30px;
  @include span-columns(3);
  font-size: 16px;
  border: 1px solid rgba(254, 115, 108, 1);
  border-radius: 5px;


}

.footerButtons {
  @include outer-container;
}


// Question Pages

.questions {
  @include outer-container;

}

.clueTitle {
  font-family: 'Pacifico', cursive;
  color: rgba(5, 46, 68, 1);
  @include shift(1);
  @include span-columns(10);
  text-align: center;
  font-size: 50px;

  text-shadow:
   -1px -1px 0 rgba(254, 115, 108, 1),
    1px -1px 0 rgba(254, 115, 108, 1),
    -1px 1px 0 rgba(254, 115, 108, 1),
     1px 1px 0 rgba(254, 115, 108, 1);
}


.clue {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
  font-family: 'Economica', sans-serif;
}

.questionTitle {
  font-family: 'Pacifico', cursive;
  color: rgba(5, 46, 68, 1);
  @include shift(1);
  @include span-columns(10);
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;

  text-shadow:
   -1px -1px 0 rgba(254, 115, 108, 1),
    1px -1px 0 rgba(254, 115, 108, 1),
    -1px 1px 0 rgba(254, 115, 108, 1),
     1px 1px 0 rgba(254, 115, 108, 1);
}

.nextQuestion {
  font-family: 'Pacifico', cursive;
  color: rgba(104, 176, 198, 1);
  @include shift(1);
  @include span-columns(10);
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;

  a:link { color: rgba(104, 176, 198, 1);
    text-decoration: none;} /* unvisited links */
  a:visited { color: rgba(104, 176, 198, 1);
    text-decoration: none;} /* visited links */
  a:hover { font-weight: rgba(104, 176, 198, 1);
    text-decoration: none; } /* user hovers */
  a:active { color: rgba(104, 176, 198, 1);
    text-decoration: none; } /* active links */

}

.question {
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  margin-bottom: 10px;
}


.answers {
  @include span-columns(10);
  @include shift(1);
  font-size: 20px;
  text-decoration: none;
  font-family: 'Economica', sans-serif;
  text-align: center;

}
.index {
  padding-top: 30px;
  @include outer-container;

}

.cities {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  a:hover { color: rgba(254, 115, 108, 1);
    text-decoration: underline; } /* user hovers */
}

.heading {
  font-family: 'Pacifico', cursive;
  color: rgba(5, 46, 68, 1);
  @include shift(1);
  @include span-columns(10);
  text-align: center;
  font-size: 50px;

  text-shadow:
   -1px -1px 0 rgba(254, 115, 108, 1),
    1px -1px 0 rgba(254, 115, 108, 1),
    -1px 1px 0 rgba(254, 115, 108, 1),
     1px 1px 0 rgba(254, 115, 108, 1);
}

.Economica{
  font-family: 'Economica', sans-serif;
}

ol {
@include shift(1);
@include span-columns(10);
border: 2px solid rgba(254, 115, 108, 1);
border-radius: 5px;
font-size: 20px;


}

p {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 50px;
  border: 2px solid rgba(254, 115, 108, 1);
  border-radius: 5px;
  font-size: 20px;
}

//createUser

.createUser {
  @include outer-container;
}
 .createUser form {
   @include span-columns(8);
   @include shift(3);
   margin-top: 40px;
 }

.createUser button {
  @include span-columns(10);
  height: 20px;
}

.createUser input {
@include span-columns(10);
margin-bottom: 10px;
height: 20px;
border: 2px solid rgba(51, 51, 51, 1);
border-radius: 5px;
text-align: center;
}

//signIn

.signIn {
  @include outer-container;
}
 .signIn form {
   @include span-columns(8);
   @include shift(3);
   margin-top: 40px;
 }

.signIn button {
  @include span-columns(10);
  height: 20px;
}

.signIn input {
@include span-columns(10);
margin-bottom: 10px;
height: 20px;
border: 2px solid rgba(51, 51, 51, 1);
border-radius: 5px;
text-align: center;
}

//privacypolicy

.privacypolicy {
  @include outer-container;
  @include span-columns(10 of 12);
  @include shift(1);
}

.privacypolicy h4{
  text-align: center;
}

.policyHeading {
  font-weight: bold;
}

//agreement

.agreement {
  @include outer-container;
  text-align: center;
  margin-top: 50px;
  font-family: 'Economica', sans-serif;
}

.agreement form{
  margin-top: 15px;
}


//links

a:link { color: rgba(51, 51, 51, 1);
  text-decoration: none;} /* unvisited links */
a:visited { color: rgba(51, 51, 51, 1);
  text-decoration: none;} /* visited links */
a:hover { font-weight: #fff;
  text-decoration: none; } /* user hovers */
a:active { color: rgba(51, 51, 51, 1);
  text-decoration: none; } /* active links */

button {
  outline:none; }


// Login/User Create Error

.error {
  @include outer-container;
  color: rgba(51, 51, 51, 1);
  font-family: 'Economica', sans-serif;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}


.map-canvas {
  @include span-columns(12);
  height: 300px;
}

.map {
  @include outer-container;
  margin-top: 10px;


}

//Image Page

.images {
  text-align: center;
  @include outer-container;

}

.imagesHeader {
  text-align: center;
  font-size: 28px;
  padding-top: 10px;
  color: rgba(51, 51, 51, 1);
  font-family: 'Economica', sans-serif;
}

.upload button{
@include span-columns(6 of 6);
font-size: 25px;
border: 1px solid rgba(254, 115, 108, 1);
border-radius: 5px;
height: 50px;
margin-bottom: 20px;
margin-top: 20px;
font-family: 'Pacifico', cursive;
color: rgba(51, 51, 51, 1);
}

.full-image ul{
  @include outer-container;
  @include shift(1);

}

.images img {
  @include span-columns(10 of 12);
  align-items: center;
  max-height: 400px;
  margin-bottom: 20px;

}


//Contact Page

.contactPage {
  @include outer-container;
  text-align: center;

  h2 {
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    font-family: 'Economica', sans-serif;
    margin-bottom: 10px;
  }
}

#contact {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: rgba(51, 51, 51, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  @include outer-container;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
    color: rgba(104, 176, 198, 1);
    text-decoration: underline;

    a:link { color: rgba(5, 46, 68, 1);
      text-decoration: none;} /* unvisited links */
    a:visited { color: rgba(5, 46, 68, 1);
      text-decoration: none;} /* visited links */
    a:hover { color: rgba(254, 115, 108, 1);
      text-decoration: none; } /* user hovers */
    a:active { color: rgba(5, 46, 68, 1);
      text-decoration: none; } /* active links */
    }
