<div class="questionTitle"> Yep! </div>
<div class="question">One of our favorite snacks from Smoke on the Water. You should also try their homemade pimento cheese and, of course, the barbecue. Don’t miss the mixed cocktails here - the bartenders really know what they are doing.
</div>

<div class="questionTitle"> {{#link-to 'questions.11'}} Did you chow down? Let's go wash it down with some bourbon! {{/link-to}} </div>

{{outlet}}
