<div class="questionTitle">Yep!</div>
<div class="question"> A mile of deliciousness - we recommend the loaded, btw. And check out the extensive beer menu!
</div>
<div class="questionTitle"> {{#link-to 'questions.3'}} Did you enjoy that? Let's go! {{/link-to}} 
</div>
{{outlet}}
