Yep! A mile of deliciousness - we recommend the loaded, btw. And check out the extensive beer menu!

<button> {{#link-to 'questions.3'}} Did you enjoy that? Let's go! {{/link-to}} </button>
{{outlet}}
