<div class="questionTitle">Correct!</div>

<div class="question">Needs a correct message.</div>

<div class="questionTitle"> {{#link-to 'questions.4'}} Time to travel to a new place! {{/link-to}} </div>

{{outlet}}
