<div class="questionTitle">Good job, Eagle Eyes. </div>
<div class="question">You are standing at the intersection of South Main and Augusta Streets in a triangle intersection. The first triangle building ever built was called 'Burnham’s Folly' because no one believed it would be stable enough to survive.
</div>

<div class="questionTitle">{{#link-to 'questions.5'}} Drink in the view, and let's keep going! {{/link-to}} </div>

{{outlet}}
