<div class="questionTitle"> Absolutely! </div>
<div class="question">You've found one of the best independent theater companies in Greenville. Anytime you need a good dose of drama, check out what's playing here. Plus, don’t miss their FREE Shakespeare in the park shows all summer long in Falls Park.
</div>
<div class="questionTitle"> {{#link-to 'questions.6'}} Put on a show while you're walking to our next location! {{/link-to}}
</div>
{{outlet}}
