
<div class="questionTitle"> Seeing things yet? </div>
<div class="question">Whether you meet the green fairy or have a craft beer, you'll enjoy the atmosphere at Velo Fellow. If you're hungry, we highly recommend the bowl o' tots. That's just deep fried deliciousness smothered in cheese.
</div>

<div class="questionTitle"> {{#link-to 'questions.7'}} You're not imagining this! Let's go! {{/link-to}}
</div>
{{outlet}}
