<div class="questionTitle"> Right! </div>

<div class="question">Needs a correct answer.</div>

<div class="questionTitle"> {{#link-to 'questions.8'}} Homerun! Let's keep moving!{{/link-to}} </div>

{{outlet}}
