<div class="questionTitle">Fill ‘er up!</div>
<div class="question"> Mac’s is known for their casual atmosphere, great barbecue, and cold beer. Don’t miss a chance to get a little messy - wet naps optional.
</div>

<div class="questionTitle"> {{#link-to 'questions.9'}} Feeling good and having fun? More stops to go! {{/link-to}} </div>

{{outlet}}
