{{log model}}
<div class="questions">
<div class="clueTitle"> Clue 1:</div>
<div class="clue"> The crown of downtown is suspended near. It's at the top of the stairs with water clear.</div>

<div class="questionTitle">Question:</div>
<div class="question">What is the name of the statue close-by?</div>
<div class="answers">{{#link-to 'incorrect.1'}}A. The Dancer {{/link-to}}<br>
{{#link-to 'correct.1'}} B. Falls Lake Fall {{/link-to}}<br>
{{#link-to 'incorrect.1'}} C. Fairy Falls {{/link-to}}<br>
{{#link-to 'incorrect.1'}} D. Falls Fall {{/link-to}}</div>
</div>

{{outlet}}
