{{log model}}

<div class="questions">
<div class="clueTitle"> Clue 10:</div>
<div class="clue">Continue on to your triangle point, cross the street again you’ll see a local joint. Near our friend Joe, this saucy tavern cooks it’s food slow.</div>

<div class="questionTitle">Question:</div>
<div class="clue">What saucy name does Smoke on the Water have for their potato skins appetizer?</div>
<div class="answers">{{#link-to 'C.10'}}A. Smoke'n Jackets {{/link-to}}
{{#link-to 'C.1'}} B. Smoke Peels {{/link-to}}
{{#link-to 'I.1'}} C. Barbecue Boats {{/link-to}}
{{#link-to 'I.1'}} D. Hog Skins {{/link-to}}
</div>
</div>
{{outlet}}
