{{log model}}

<div class="questions">
<div class="clueTitle"> Clue 11:</div>
<div class="clue">Heading back to the start,we’ve one more stop. This cajun delight gets it name from an old truck.</div>

<div class="questionTitle">Question:</div>
<div class="question">What yearly festivity is celebrated year-round inside Ford's?</div>
<div class="answers">{{#link-to 'incorrect.11'}}A. Fat Tuesday  {{/link-to}}
{{#link-to 'incorrect.11'}} B. The Day of the Dead {{/link-to}}
{{#link-to 'incorrect.11'}} C. Christmas {{/link-to}}
{{#link-to 'correct.11'}} D. Mardi Gras {{/link-to}}
</div>
</div>

{{outlet}}
