{{log model}}

<div class="questions">
<div class="clueTitle"> Clue 12:</div>
<div class="clue">Just below where we started, the crown of downtown awaits. Head here for a parting selfie, enjoy your evening, and be safe.</div>

<div class="questionTitle">Question:</div>
<div class="question">What is the name of the statue close-by?</div>
<div class="answers">{{#link-to 'C.12'}}A. Uber {{/link-to}}
{{#link-to 'C.12'}} B. Walking around the park until you sober up {{/link-to}}
{{#link-to 'C.12'}} C. Designated Driver {{/link-to}}
{{#link-to 'C.12'}} D. By calling (864) 233-6666 {{/link-to}}
</div>
</div>
{{outlet}}
