{{log model}}

<div class="questions">
<div class="clueTitle">Clue 2:</div>
<div class="clue">Across the street , there’s an alley upstairs. Go there to enjoy the southwestern fare.</div>

<div class="questionTitle">Question:</div>
<div class="question">How high are the nachos here?</div>
<div class="answers">{{#link-to 'I.2'}}A. 3 Ihes {{/link-to}}
{{#link-to 'I.2'}} B. 8 Ihes {{/link-to}}
{{#link-to 'I.2'}} C. 30,000 feet {{/link-to}}
{{#link-to 'C.2'}} D. A mile {{/link-to}}
</div>
</div>

<div class="map">

{{google-map markerInfoWindowTemplateName='map/info-window'
             markers=markers
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='map'
             ev_click='didClickMap'}}

<div class="controls">

  <label>
    Zoom:
    {{input type="range" value=zoom min=18 max=20 step=1}}
  </label>

</div>
</div>
{{outlet}}
