{{log model}}

<div class="questions">
<div class="clueTitle">Clue 3</div>
<div class="clue">Down the stairs and to the right - pages old and new of fancy and flight. Scour the stacks for an adventure in a spine, then sit yourself down, &amp; have some wine.</div>


<div class="questionTitle">Question:</div>
<div class="question">Need a question from Anja!</div>

<div class="answers">{{#link-to 'C.3'}}Correct{{/link-to}}
{{#link-to 'I.3'}} Incorrect {{/link-to}}
</div>
</div>

<div class="map">

{{google-map markerInfoWindowTemplateName='map/info-window'
             markers=markers
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='map'
             ev_click='didClickMap'}}

<div class="controls">

  <label>
    Zoom:
    {{input type="range" value=zoom min=18 max=20 step=1}}
  </label>

</div>
</div>

{{outlet}}
