{{log model}}

<div class="questions">
<div class="clueTitle">Clue 4:</div>
<div class="clue">Continuing on to the fork in the road, look for a stately building where no one would want to go.
</div>

<div class="questionTitle">Question:
</div>
<div class="question">What is the name of the statue close-by?
</div>
<div class="answers">
{{#link-to 'C.4'}}A. Coca Cola {{/link-to}}
{{#link-to 'I.4'}} B. Cheerwine {{/link-to}}
{{#link-to 'I.4'}} C. Pepsi {{/link-to}}
{{#link-to 'I.4'}} D. Fanta {{/link-to}}
</div>
</div>

<div class="map">

{{google-map markerInfoWindowTemplateName='map/info-window'
             markers=markers
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='map'
             ev_click='didClickMap'}}

<div class="controls">

  <label>
    Zoom:
    {{input type="range" value=zoom min=18 max=20 step=1}}
  </label>

</div>
</div>

{{outlet}}
