{{log model}}

<div class="questions">
<div class="clueTitle">Clue 6:</div>
<div class="clue">Down University next and back behind, you'll find a basement dwelling bicycle man having a great time.</div>

<div class="questionTitle">Question:
</div>
<div class="question">What is the name of the statue close-by?</div>
<div class="answers">{{#link-to 'I.6'}}A. Gin {{/link-to}}
{{#link-to 'C.6'}} B. Absinthe {{/link-to}}
{{#link-to 'I.6'}} C. Moonshine {{/link-to}}
{{#link-to 'I.6'}} D. Iced Tea {{/link-to}}</div>
</div>


{{outlet}}
