{{log model}}

<div class="questions">
<div class="clueTitle">Clue 7:</div>
<div class="clue">356 is not just an address, his batting average was among the best. Head to the ballpark, back up and left - a legend who found - at baseball - he was quite deft.</div>

<div class="questionTitle">Question:</div>
<div class="question">NEED A QUESTION!</div>

<div class="answers"><button> {{#link-to 'correct.7'}} Correct {{/link-to}} </button>
<button> {{#link-to 'incorrect.7'}} Incorrect {{/link-to}} </button>
</div>
</div>
{{outlet}}
