{{log model}}

<div class="questions">
<div class="clueTitle">Clue 7:</div>
<div class="clue">356 is not just an address, his batting average was among the best. Head to the ballpark, back up and left - a legend who found - at baseball - he was quite deft.</div>

<div class="questionTitle">Question:</div>
<div class="question">NEED A QUESTION!</div>

<div class="answers"><button> {{#link-to 'C.7'}} C {{/link-to}} </button>
<button> {{#link-to 'I.7'}} I {{/link-to}} </button>
</div>
</div>

<div class="map">

{{google-map markerInfoWindowTemplateName='map/info-window'
             markers=markers
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='map'
             ev_click='didClickMap'}}

<div class="controls">

  <label>
    Zoom:
    {{input type="range" value=zoom min=18 max=20 step=1}}
  </label>

</div>
</div>

{{outlet}}
