{{log model}}

<div class="questions">
<div class="clueTitle">Clue 8:</div>
<div class="clue">Follow the fence like you're rounding the bases. You'll come back to Main and to the right is a place where we'll rev up our engine's and drink a few things that might cause for chasers.</div>

<div class="questionTitle">Question:</div>
<div class="question">What unique name does Mac's have for their barbecue-based mexican fare?</div>
<div class="answers">{{#link-to 'I.8'}}A. Smokin' Mex {{/link-to}}
{{#link-to 'I.8'}} B. Barbican {{/link-to}}
{{#link-to 'I.8'}} C. The Sidecar {{/link-to}}
{{#link-to 'C.8'}} D. Mexicue {{/link-to}}
</div>
</div>

<div class="map">

{{google-map markerInfoWindowTemplateName='map/info-window'
             markers=markers
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='map'
             ev_click='didClickMap'}}

<div class="controls">

  <label>
    Zoom:
    {{input type="range" value=zoom min=18 max=20 step=1}}
  </label>

</div>
</div>

{{outlet}}
