{{log model}}

<div class="questions">
<div class="clueTitle">Clue 9:</div>
<div class="clue">Across the street and up near the tracks, there is a colorful marker that you’d better not pass. Find this red tile artwork under your feet, it leads us on to our future and continues us on our beat.</div>

<div class="questionTitle">Question:
</div>
<div class="question">What year did the first passenger train pull into Greenville?</div>
<div class="answers">{{#link-to 'incorrect.9'}}A. 1902 {{/link-to}}
{{#link-to 'correct.9'}} B. 1853 {{/link-to}}
{{#link-to 'incorrect.9'}} C. 1854 {{/link-to}}
{{#link-to 'incorrect.9'}} D. 1776 {{/link-to}}</div>
</div>

{{outlet}}
