<div class="questionTitle">C!</div>
<div class="question">Falls Lake Fall is located at the top of Falls Park. Bryan Hunt created the 1,200 pound sculpture out of bronze. It was dedicated in 2005.</div>


<div class="nextQuestion"> {{#link-to 'questions.2'}} On to the next! {{/link-to}} </div>
{{outlet}}
