<div class="questionTitle"> Yada Yada </div>
<div class="question">From 1913 to 1924, this building housed W.M. Thompson’s T-model Ford Agency - hence the name. Now that you are here, get your bourbon street on and enjoy some fried gator bites - they taste better than chicken.
</div>

<div class="nextQuestion"> {{#link-to 'questions.12'}} By now you should be feeling good and ready to relax! {{/link-to}} </div>
{{outlet}}
