<div class="questionTitle">C!</div>

<div class="question">Needs a C message.</div>

<div class="nextQuestion"> {{#link-to 'questions.4'}} Time to travel to a new place! {{/link-to}} </div>

{{outlet}}
