<div class="questionTitle">Did you miss it?</div>
<div class="question"> It's on the side of the Army Navy Store - Coca-Cola Classic. You should be at the triangle intersection of South Main and Augusta Streets.
</div>
<div class="questionTitle"> {{#link-to 'questions.5'}} Drink in the view, and let's keep going! {{/link-to}} </div>

{{outlet}}
