<div class="questionTitle"> Needs I title </div>
<div class="question">Needs an I answer.</div>

<div class="questionTitle"> {{#link-to 'questions.8'}} Oh no! Strikeout! Let's keep moving {{/link-to}} </div>

{{outlet}}
