<div class="questionTitle">Strike! </div>
<div class="question">After a long walk around the ballpark, maybe you are feeling a bit empty? Check out the menu at Mac’s Speed Shop on S. Main Street where they Mexicue will get you back on course.
</div>
<div class="questionTitle"> {{#link-to 'questions.9'}} Feeling good and having fun? More stops to go! {{/link-to}} </div>
{{outlet}}
