<div class="questionTitle"> Are you lost</div>
<div class="question">Couldn’t find the tile artwork in the sidewalk? No worries. These neat pieces of public art are sprinkled all through the West End. This one focuses on trains and explains how the first passenger train came to Greenville in 1853.
</div>

<div class="questionTitle"> {{#link-to 'questions.10'}} Let's keep moving! {{/link-to}} </div>
{{outlet}}
