<div class="questionTitle">Sorry, that's wrong!</div>
<div class="question"> Look for the Falls Lake Falls Sculpture at the top of Falls Park at the intersection of Main and Falls Park Drive. This is your starting point. Onward!
</div>

<div class="questionTitle"> {{#link-to 'questions.2'}} On to the next! {{/link-to}} </div>
{{outlet}}
