Sorry, that's wrong! Look for the Falls Lake Falls Sculpture at the top of Falls Park at the intersection of Main and Falls Park Drive. This is your starting point. Onward!

<button> {{#link-to 'questions.2'}} On to the next! {{/link-to}} </button>
{{outlet}}
