<div class="questionTitle"> Still lost? </div>
<div class="question">You either aren’t at Smoke on the Water or you haven’t seen their amazing menu yet. Check out the barbecue and mixed drinks. This place knows what they are doing.
</div>

<div class="questionTitle"> {{#link-to 'questions.11'}} Did you chow down? Let's go wash it down with some bourbon! {{/link-to}} 
</div>
{{outlet}}
