You should have taken a right out of Smoke and headed straight down Main to Ford’s Oyster House. In here, it’s always Mardi Gras time. Sit down and enjoy some gator bites and bourbon before the tour ends.


<button> {{#link-to 'questions.12'}} By now you should be feeling good and ready to relax! {{/link-to}} </button>
{{outlet}}
