Check out the menu - because you're missing the good stuff. The mile high nachos are fantastic. Hav'em with a beer!

<button> {{#link-to 'questions.3'}} Did you enjoy that? Let's go! {{/link-to}} </button>
{{outlet}}
