<div class="questionTitle">Check out the menu</div>
<div class="question">You're missing the good stuff. The mile high nachos are fantastic. Hav'em with a beer!
</div>

<div class="questionTitle"> {{#link-to 'questions.3'}} Did you enjoy that? Let's go! {{/link-to}}
</div>
{{outlet}}
