<div class="questionTitle">Need wrong title</div>
<div class="question">Needs an incorrect answer</div>

<div class="questionTitle"> {{#link-to 'questions.4'}} Time to travel to a new place! {{/link-to}} </div>

{{outlet}}
