<div class="questionTitle"> Oops, that's wrong </div>
<div class="question">The green fairy is waiting for you at Velo Fellow. It’s an experience you don’t want to miss.
</div>

<div class="questionTitle"> {{#link-to 'questions.7'}} You're not imagining this! Let's go! {{/link-to}} </div>

{{outlet}}
