<div class="questionTitle"> Needs incorrect title </div>
<div class="question">Needs an incorrect answer.</div>

<div class="questionTitle"> {{#link-to 'questions.8'}} Oh no! Strikeout! Let's keep moving {{/link-to}} </div>

{{outlet}}
