<body>
  <div id="wrap">
<header>
     <div class="logo"> </div>


  <div class="wrap">
    {{#if session.isAuthenticated}}
    <div class="button" {{action 'invalidateSession'}}> Log Out </div>
    {{else}}
    <div class="button">{{#link-to 'users.create'}} Sign up! {{/link-to}}</div>

    <div class="button">{{#link-to 'login'}}  Sign In {{/link-to}}</div>

    {{/if}}
</div>

</header>

  <div class="container-fluid" id="main">
    {{outlet}}
  </div>
</div>

</body>

  <div class="footer">
    <div class="footerButtons">
    <button> Contact us! </button>
    <button> {{#link-to 'privacypolicy'}}Privacy Policy{{/link-to}} </button>
    <button> {{#link-to 'termsconditions'}}Terms &amp; Conditions{{/link-to}} </button>
    <button> <a href="https://www.facebook.com/townsontour"> TOT Facebook </a> </button>
</div>
  </div>
