<body>
  <div id="wrap">
<header>
     <div class="logo"> </div>


  <div class="wrap">
    <a href="#" class="button"> Sign up! </a> {{#link-to 'index' class="button"}}  Home {{/link-to}}
</div>

</header>

  <div class="container-fluid" id="main">
    {{outlet}}
  </div>
</div>

</body>

  <div class="footer">
    <div class="footerButtons">
    <button> Contact us! </button>
    <button> Terms &amp; Conditions </button>
    <button> Release Form </button>
    <button> <a href="https://www.facebook.com/townsontour"> Facebook </a> </button>
</div>
  </div>
