<header> <h1 class="title"> Put a tiny logo here, Hannah </h1>
  <button> West End, Greenville, SC </button>
  <button> Sign up! </button>
</header>

<button> {{#link-to 'questions.1'}} Let's get started! {{/link-to}} </button>

<footer>
  <button> Contact us! </button>
</footer>
