<div class="index">

<div class="cities">|| {{#link-to 'questions.1'}} West End, Greenville {{/link-to}} || Other Cities to be Released ||</div>

<h1 class="heading"> How it all works: </h1>
<div class="Economica"><ol>
  <li> Pick the tour for your chosen city/location! (More tours are scheduled to be released ASAP)</li>
  <li> Answer the questions along the way to get the next clue! </li>
  <li> Enjoy yourself! </li>
  <li> Get home safe and sober! </li>
</ol>
</div>


<h1 class="heading"> About Towns on Tour: </h1>
<p class="Economica">Towns on Tour was started by four friends who, let's face it, love to drink. Two of the owners decided it would make an awesome scavenger hunt, and that's where Towns on Tour was born. It gives locals and tourists alike a chance to learn more about the city all while experiencing some of the awesome restaurants your local cities have to offer.  We've partnered with some of the local bars, restaurants, and shops to make sure you enjoy every moment of the tour without breaking the bank! Enjoy the tour! </p>





</div>
