<div class="privacypolicy">

<h4>PRIVACY STATEMENT</h4>

<div class="policyHeading">SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</div>

<div class="policy">When you participate in one of our tours, as part of the process, we collect the personal information you give us such as your name, zip code, and email address.</div>

<div class="policy">When you browse our site, we may also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</div>

<div class="policy">Email marketing: With your permission, we may send you emails about our tours, partner vendors, and other products. </div>

<div class="policyHeading">SECTION 2 - CONSENT</div>

<h5>How do you get my consent?</h5>

<div class="policy">When you provide us with personal information to complete a transaction, verify your credit card, sign up for a tour, we imply that you consent to our collecting it and using it for that specific reason only.</div>

<div class="policy">If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</div>

<h5>How do I withdraw my consent?</h5>

<div class="policy">If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at townsontour@gmail.com or mailing us at: Towns On Tour 101 Green Lake Road Greenville SC United States 29607</div>

<div class="policyHeading">SECTION 3 - DISCLOSURE</div>

<div class="policy">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</div>

<h5>Payment:</h5>

<div class="policy">If you choose a direct payment gateway to complete your purchase, our credit card processor may store your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.</div>

<div class="policy">All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.</div>

<div class="policy">PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.</div>

<div class="policyHeading">SECTION 4 - THIRD-PARTY SERVICES</div>

<div class="policy">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</div>

<div class="policy">However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</div>

<div class="policy">For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</div>

<div class="policy">In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</div>

<div class="policy">As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, Iluding the Patriot Act.</div>

<div class="policy">Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service. </div>

<h5>Links</h5>

<div class="policy">When you click on links on our site, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</div>

<div class="policyHeading">SECTION 5 - SECURITY</div>
<div class="policy">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</div>

<div class="policy">If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</div>

<div class="policyHeading">SECTION 6 - AGE OF CONSENT</div>

<div class="policy">By using this site, you represent that you are at least the age of majority in your state or provIe of residence, or that you are the age of majority in your state or provIe of residence and you have given us your consent to allow any of your minor dependents to use this site.</div>

<div class="policyHeading">SECTION 7 - CHANGES TO THIS PRIVACY POLICY</div>

<div class="policy">We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</div>

<div class="policy">If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</div>

<div class="policyHeading">QUESTIONS AND CONTACT INFORMATION</div>

<div class="policy">If you would like to: access, C, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at townsontour@gmail.com or by mail at Towns On Tour</div>

<div class="policy">[Re: Privacy Compliance Officer]</div>

<div class="policy">[101 Green Lake Road Greenville SC United States 29607]</div>
</div>

{{outlet}}
